@model CvSystem.Web.ViewModels.Edit.CourseEditModel

<div class="col-md-8 col-md-offset-2">
    @Html.ValidationMessageFor(m => m.CourseName, "", new { @class = "text-danger" })
    @Html.TextBoxFor(m => m.CourseName, new { @class = "form-control" })
</div>

